%style
  :sass
    #live-edit-panel
      :margin-top 15px
      :width 70%
      :background-color #fcc
      :position relative

      textarea
        :display none

      iframe
        :position absolute
        :left 0px
        :width 100% !important
        :height 100% !important

#live-edit-panel
  %textarea#gist-live-text-area
    Hello World!
  