!!!
%html
  %head
  %body
    %h1 Take hold of this bookmarklet and give it a go on a gist or an editable file on Github.
    %a{:href=>"javascript:s=document.createElement('script');s.setAttribute('src','http://localhost:4567/embedded.js');document.getElementsByTagName('body')[0].appendChild(s);void(s);"} Live Edit
    %p :D Really
    %sub
      (ps, I'm not stealun' ur codze, check out
      %a{:href=>"/embedded.js"} the embedded file
      to check up on what I'm doing.