%style
  :sass
    #gist-live-welcome
      :background-color #fcc
      :padding 20px

#gist-live-welcome
  %p
    Presented By:
    %a{:href=>"http://cometio.us/github", :target => :_blank}
      Cometio.us
  %h1 Welcome to github Live-Edit
  %p
    %sub *not affiliated with github
